.assayInput td, .assayInput th {
  border: 1px solid #7c7587;
  padding: 0px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  text-align: center;
}

.assayInput .container {
  width: max-content;
  justify-content: left;
}

.assayInput .square, .sortableSquare {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.assayInput .level {
    display: inline-block;
    align-self: flex-end;
}

.assayInput .levelLabel {
  width: 100px;
  text-align: center;
}

.assayInput .levels {
  display: flex;
  flex-direction: row;
  inline-size: 575px; 
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
}

.assayInput .create-square {
  border: 1px dashed rgb(71, 148, 179);
  padding: 0px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  color: rgb(71, 148, 179);
  transition: all 0.3s ease;
}

.assayInput .create-square:hover {
  border: 1px dashed rgb(255, 255, 255);
  background-color: rgb(71, 148, 179);
  padding: 0px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  color:  rgb(255, 255, 255);
}

.assay-table .ui-selected { background: Gainsboro; color: white; }
.assay-table .ui-selecting { background: Gainsboro; opacity :0.5}
.assay-table .ui-selected div {
    opacity: 0.2;
}


.assayInput [data-tooltip]::before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

.assayInput [data-tooltip]:hover::before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: BlanchedAlmond;
    margin-top: -20px;
    margin-left: 20px;
    z-index:1;
}

.assayInput [data-tooltip]:not([data-tooltip-persistent])::before {
    pointer-events: none;
}

.assayInput .bin {
  min-width: 75px;
  height: 40px;
  color: #d90429;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  align-self: flex-end;
  outline: none;
  border: 1px solid #d90429;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assayInput .bin:hover {
  color: #fff;
  background: #d90429
}

.assayInput .input{
  display: flex;
  margin: 7px 3px;
  gap: 10px;
}

